<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.androidtown.eswcontest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="당신이 잠든 사이에"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:label="설정" />
        <activity android:name=".Contents1" />
        <activity
            android:name=".userActivity"
            android:label="내 정보" />
        <activity
            android:name=".SensorActivity"
            android:label="센서 설정" />
        <activity android:name=".FAQActivity"></activity>
    </application>

</manifest>